.app_dark_theme {
    --bg-color: #303030;
    --inverted-bg-color: #cfc6c1;
    --primary-color: #ff038f;
    --secondary-color: #a3006b;
    --inverted-primary-color: #2b0018;
    --inverted-secondary-color: #13000a;

    // skeleton
    --skeleton-color: #1e453e;
    --skeleton-shadow: #455b55;

    // code
    --code-bg: #1e453e;

    // card
    --card-bg: #306844;

    // listbox
    --listbox-bg: #2c4c3b;
}
